body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.postContainer { margin-bottom: 5px;}
.postHeading {  text-shadow: 1px 1px 1px #fff; }