<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a href="#/home" class="brand">Bloki</a>
    <ul class="nav">
      <li ng-class="{ true:'vis', false:'hidden'}[loggedIn()==true]"><a href="#/new">New post</a></li>
    </ul>

    <form ng-class="{ false:'vis', true:'hidden'}[loggedIn()==true]" class="navbar-form pull-right">
        <input type="text" class="span3" ng-model="username" placeholder="Login">
        <input type="text" class="span3" ng-model="password" placeholder="Password">
        <button ng-click="login()" class="btn">Login</button>
    </form>

  </div>
</div>

